<!-- index.html -->
<!DOCTYPE html>
<html ng-app="ptApp">
<title>Palitan Tayo</title>
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via local -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <!-- Ng Dialog-->
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-custom-width.css">

    <!--Ng Notify-->
    <link rel="stylesheet" href="bower_components/ng-notify/dist/ng-notify.min.css" />
    <style>
        a, button {
            font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            display: block;
            color: #333;
            margin-bottom: 10px;
        }
        /* The following 'important' styles are just here to show off trapFocus */
        button.ngdialog-button {
            border: solid transparent 1px !important;
        }
        button.ngdialog-button:focus {
            border: solid black 1px !important;
        }
        .ngdialog h2:focus { outline: none; }
    </style>

    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
    <script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/routing.js"></script>

    <!--Controllers-->
    <script src="app/js/controllers/mainController.js"></script>
    <script src="app/js/controllers/itemsController.js"></script>
    <script src="app/js/controllers/itemController.js"></script>
    <script src="app/js/controllers/profileController.js"></script>
    <script src="app/js/controllers/editProfileController.js"></script>
    <script src="app/js/controllers/postController.js"></script>
    <script src="app/js/controllers/registerController.js"></script>
    <script src="app/js/controllers/loginController.js"></script>
    <script src="app/js/controllers/errorController.js"></script>

    <!--Services-->
    <script src="app/js/services/loginService.js"></script>
    <script src="app/js/services/itemService.js"></script>
    <script src="app/js/services/profileService.js"></script>
    <script src="app/js/services/permissionsService.js"></script>
    <!--Factories-->
    <script src="app/js/factories/globals.js"></script>

    <style>
        /*header{*/
            /*background: white !important;*/
        /*}*/
        /*.nav{*/
            /*background: white !important;*/
        /*}*/
        .nav li a{
            font-family: Arial !important;
            font-size: 15px !important;
            color: #777 !important;
            font-weight: 100 !important;
        }
        #footer{
            background: #E5E5E5;
        }
        #footer h4{
            color: white;
        }
    </style>


</head>
<body ng-controller="mainController"  style="background: white">

<!-- HEADER AND NAVBAR -->
<div style="z-index: 1000 !important; margin-bottom: 0px !important;">
    <header>
        <nav class="navbar navbar-default" style="margin-bottom: 0px; background: white !important;">
            <div class="container-fluid" style="z-index: 1000 !important; background: white !important;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="padding-top: 3px;">
                        <!--<h4 style="color: #BBD631; margin-top: 0px"> Palitan <span style="color: #5CBBBF;">Tayo!</span></h4>-->
                        <img src="{{globals.rootUrl}}app/images/logo2.png" class="" width="200">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#items"><i class="fa fa-reorder"></i> Items</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Forums</a></li>
                    <li>
                        <a ng-if="user.isLoggedIn === true" href="#profile/{{user.userId}}"><i class="fa fa-user"></i> {{user.name}}</a>
                        <a ng-if="globals.isNothing(user) === true || user.isGuest === true" href="#login"><i class="fa fa-shield"></i> Login</a>
                    </li>
                    <li>
                        <a ng-if="user.isLoggedIn === true" style="cursor: pointer" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

    <!-- angular templating
    <!-- this is where content will be injected -->
    <div ng-view></div>

</div>
<div id="footer">
    <div class="container-fluid">
        <div class="row" style="background: #56BEC1">
            <div class="col-md-5">
                <h5 style="color: white">Sign up for our Newsletter!</h5>
            </div>
            <div class="col-md-7" style="padding-top: 5px">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" style="width: 400px" placeholder="Your email address...">
                    </div>
                    <button type="submit" class="btn btn-warning">Sign up</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4" style="padding: 10px">
                <p>Palitantayo.com</p>
            </div>
            <div class="col-md-4 col-sm-4">

            </div>
            <div class="col-md-4 col-sm-4" style="text-align: right; padding: 10px">
                <i class="fa fa-facebook" style="font-size: 30px"></i>
                <i class="fa fa-twitter" style="font-size: 30px"></i>
                <i class="fa fa-instagram" style="font-size: 30px"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>
