<link rel="stylesheet" href="app/css/items.css"/>


<div class="container-fluid">

    <div class="row hidden-sm">
        <div class="">
            <div class="col-md-12 page-header"
                 style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
                <h3 style="color: #BED735">Featured <span style="color: #56BEC1;">Today!</span></h3>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 slider">
            <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage img-responsive"
                 ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                 ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            <nav class="nav2">
                <div class="wrapper">
                    <ul class="dots">
                        <li class="dot" ng-repeat="slide in slides">
                            <a ng-class="{'active':isCurrentSlideIndex($index)}"
                               ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 col-sm-12" style="font-size: 15px !important;">
            <div style="padding-top: 20px" class="row">
                <div class="col-md-2">
                    <img src="{{globals.rootUrl}}app/images/user-default.png" class="img-circle" width="70"
                         style="display: inline">
                </div>
                <div class="col-md-10">
                    <b style="font-size: 18px">@DMoneyMaker</b><br>

                    <p>Augustus Ceasar Amalejo</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="border-top: 1px solid #E6E6E6; padding-top: 10px">
                        <b>Oppo N7</b><br>
                        Slim, Beautifully designed smart phone open to trade for the following items
                    <ul>
                        <li>Xiaomi 7</li>
                        <li>Bass Guitar</li>
                        <li>Vintage</li>
                    </ul>
                    Range Value: 5k - 10k
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .item-label {
        color: black;
        font-size: 15px;
        background: #BED735 !important;
        width: 100%;
        opacity: .7;
        height: 100px;
    }
    .tlabel:hover{
        opacity: 1;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
            <h3 style="color: #BED735">Browse Items <span style="color: #56BEC1;">Here!</span></h3>
        </div>
        <br/>

        <div class="col-md-3 col-sm-6" ng-repeat="item in items" style="padding-bottom: 20px !important;">
            <div class="thumbnail">
                <div style="height: 250px; overflow-y: hidden; vertical-align: middle">
                    <a href="#items/{{item.item_id}}" class="">
                        <img src="{{globals.rootUrl}}app/images/items/{{item.item_id}}.jpg" alt="..."/>
                    </a>
                </div>

                <div style="line-height: 17px; overflow-x: hidden">
                    <b style="font-size: 1em !important;">{{item.item_name}}</b>
                    <p style="font-size: 13px">
                        Trade Value: <span style="color: #56BEC1"><b>{{item.item_trade_value}}</b></span>
                        <br>
                        <i>Gadget, Technology, Mobile</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination" style="float: right; background: #56BEC1">
            <li>
                <a href="#" aria-label="Previous" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#" style="margin-bottom: 0px !important;">1</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">2</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">3</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">4</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">5</a></li>
            <li>
                <a href="#" aria-label="Next" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

