<link rel="stylesheet" href="app/css/items.css"/>


<div class="container-fluid">
    <div class="row" style="background: #BED735">
        <div class="col-md-12 col-sm-12">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 400px"
                           placeholder="What are you looking for?">
                </div>
                <button type="submit" class="btn btn-success">Search here</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="page-header" style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
            <h3 style="color: #BED735">Featured <span style="color: #56BEC1;">Today!</span></h3>
        </div>
        <div class="col-md-8 col-sm-8 slider">
            <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage img-responsive"
                 ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                 ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            <nav class="nav2">
                <div class="wrapper">
                    <ul class="dots">
                        <li class="dot" ng-repeat="slide in slides">
                            <a ng-class="{'active':isCurrentSlideIndex($index)}"
                               ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 col-sm-4">
            <div style="padding-top: 20px">
                <img src="{{globals.rootUrl}}app/images/logo.jpg" class="img-responsive img-circle" width="60"
                     style="display: inline">
                <b style="font-size: 18px">Ohmel Paguirigan</b>

                <p style="border-top: 1px solid #E6E6E6; padding-top: 10px">
                    Description Goes Here!
                    <br/><br/>
                    Specification Goes Here!

                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
            <h3 style="color: #BED735">Browse <span style="color: #56BEC1;">Here!</span></h3>
        </div>
        <br/>

        <div class="col-xs-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <img src="http://placehold.it/400x200" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>
        <div class="col-xs-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <img src="http://placehold.it/400x200" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>
        <div class="col-xs-4">
            <div class="thumbnail">
                <a href="#" class="">
                    <img src="http://placehold.it/400x200" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>

        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x150" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x150" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x150" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                Label 1
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <a href="#">
                    <img src="http://placehold.it/300x150" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel" tooltip="{{tooltipMessage}}" tooltip-placement="top">
                Product
            </div>
        </div>
        sh
    </div>
    <a href="#0" tooltip>My Tooltip Link</a>
    <nav>
        <ul class="pagination" style="float: right; background: #56BEC1">
            <li>
                <a href="#" aria-label="Previous" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#" style="margin-bottom: 0px !important;">1</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">2</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">3</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">4</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">5</a></li>
            <li>
                <a href="#" aria-label="Next" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

