<link rel="stylesheet" href="app/css/items.css"/>


<div class="container-fluid">
    <div class="row" style="background: #BED735;">
        <!--<div class="col-md-2">-->
        <!--&lt;!&ndash;<div style="background: white; display: inline-block">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="{{globals.rootUrl}}app/images/menu_logo.jpg" class="img-responsive img-circle"&ndash;&gt;-->
        <!--&lt;!&ndash;style="display: inline">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 400px"
                           placeholder="What are you looking for?">
                </div>
                <button type="submit" class="btn btn-success">Search here</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="col-md-12 page-header"
                 style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
                <h3 style="color: #BED735">Featured <span style="color: #56BEC1;">Today!</span></h3>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 slider">
            <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage img-responsive"
                 ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                 ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            <nav class="nav2">
                <div class="wrapper">
                    <ul class="dots">
                        <li class="dot" ng-repeat="slide in slides">
                            <a ng-class="{'active':isCurrentSlideIndex($index)}"
                               ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 col-sm-4" style="font-size: 15px !important;">
            <div style="padding-top: 20px" class="row">
                <div class="col-md-2">
                    <img src="{{globals.rootUrl}}app/images/user-default.png" class="img-circle" width="70"
                         style="display: inline">
                </div>
                <div class="col-md-10">
                    <b style="font-size: 18px">@DMoneyMaker</b><br>

                    <p>Augustus Ceasar Amalejo</p>
                </div>


            </div>
            <div class="row">
                <p style="border-top: 1px solid #E6E6E6; padding-top: 10px">
                    <b>Oppo N7</b><br>
                    Slim, Beautifully designed smart phone open to trade for the following items
                <ul>
                    <li>Xiaomi 7</li>
                    <li>Bass Guitar</li>
                    <li>Vintage</li>
                </ul>
                Range Value: 5k - 10k
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="page-header" style="padding-left: 20px; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px">
            <h3 style="color: #BED735">Browse <span style="color: #56BEC1;">Here!</span></h3>
        </div>
        <br/>

        <div class="col-md-3" ng-repeat="item in items">
            <div class="thumbnail">
                <a href="#" class="">
                    <img src="{{globals.rootUrl}}app/images/items/laptop.png" alt="..."/>
                </a>
            </div>
            <div class="container-fluid tlabel">
                <b>Name of Item</b>
                <p style="font-size: 14px">
                    {{item}}
                </p>
            </div>
        </div>


    </div>
    <nav>
        <ul class="pagination" style="float: right; background: #56BEC1">
            <li>
                <a href="#" aria-label="Previous" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#" style="margin-bottom: 0px !important;">1</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">2</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">3</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">4</a></li>
            <li><a href="#" style="margin-bottom: 0px !important;">5</a></li>
            <li>
                <a href="#" aria-label="Next" style="margin-bottom: 0px !important;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

