<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        border: 2px solid #FA787E;
        color: white;
    }

    .css-form input.ng-valid.ng-touched {
        border: 2px solid #78FA89;
    }
</style>
<div class="container-fluid">
    <div class="row" style="background: #BED735">
        <div class="col-md-12 col-sm-12">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 400px"
                           placeholder="What are you looking for?">
                </div>
                <button type="submit" class="btn btn-success">Search here</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row" style="border: 1px solid #E5E5E5;">
        <div class="col-sm-12 col-md-6 col-md-offset-3 col-sm-offset-0" style="background: white">
            <div class="page-header" style="margin-top: 0px; text-align: center">
                <h4>Login</h4>
            </div>
            <div class="navbar-form css-form" role="login" novalidate action="#">
                <div class="form-group" style="width: 100%">
                    <input type="text" ng-model="user.userName" required class="form-control"
                           style="height: 50px; width: 100%; padding: 10px; font-size: 20px" placeholder="Username">
                    <br>
                    <br>
                    <input type="password" ng-model="user.password" required class="form-control"
                           style="height: 50px; width: 100%; padding: 10px; font-size: 20px" placeholder="Password">
                </div>
                <br>
                <br>
                <button type="button" class="btn btn-success btn-extra" ng-click="login()">Login Here!</button>
                <small>Forgot Password?</small>
                <a href="#register" style="display: inline; color: #0033cc"> Register here</a>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-extra"><b>Login using Facebook</b></button>
                or
                <button type="button" class="btn btn-danger btn-extra"><b>Login using Gmail</b></button>
            </div>
            <br>

            <div class="text-center" style="border-top: 1px solid #e5e5e5">
                <h4>Advertisement here</h4>
            </div>
            <br>
        </div>
    </div>


</div>
<br>