<div class="container-fluid">
    <div class="row" style="background: #BED735;">
        <!--<div class="col-md-2">-->
        <!--&lt;!&ndash;<div style="background: white; display: inline-block">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="{{globals.rootUrl}}app/images/menu_logo.jpg" class="img-responsive img-circle"&ndash;&gt;-->
        <!--&lt;!&ndash;style="display: inline">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <div class="col-md-12">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 400px"
                           placeholder="What are you looking for?">
                </div>
                <button type="submit" class="btn btn-success">Search here</button>
            </form>
        </div>
    </div>
    <br/>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="text-center">
                <br/>
                <h4>Know us more</h4>
                <img src="{{globals.rootUrl}}app/images/videothumb.jpg">
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-md-offset-0 col-sm-offset-0" style="background: white">
            <br/>
            <h4 style="text-align: center">
                Register Here!
            </h4>

            <form name="userForm" novalidate>
                <div role="form" style="padding: 20px; width: 100%">
                    <div class="form-group" >
                        <input type="text" name="firstName" class="form-control" placeholder="First Name"
                               ng-model="registerForm.profile_fname"
                               required>
                        <!-- ngMessages goes here -->
                        <div class="help-block" ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched" style="color: red">
                            <p ng-message="required" style="font-size: 14px">Your First Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" >
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name"
                               ng-model="registerForm.profile_lname"
                               required>
                        <!-- ngMessages goes here -->
                        <div class="help-block" ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched" style="color: red">
                            <p ng-message="required" style="font-size: 14px">Your Last Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" >
                        <input type="text" name="userName" class="form-control" placeholder="Username"
                               ng-model="registerForm.user_name"
                               ng-minlength="5"
                               ng-maxlength="15"
                               required>

                        <!-- ngMessages goes here -->
                        <div class="help-block" ng-messages="userForm.userName.$error" ng-if="userForm.userName.$touched" style="color: red">
                            <p ng-message="minlength" style="font-size: 14px">Your Username is too short.</p>
                            <p ng-message="maxlength" style="font-size: 14px">Your Username is too long.</p>
                            <p ng-message="required" style="font-size: 14px">Your Username is required.</p>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="registerForm.user_password" name="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="" ng-model="retypePassword" name="rpassword" placeholder="Re-type Password"/>
                            <div class="help-block" ng-show="registerForm.user_password != retypePassword && userForm.password.$touched == true && userForm.rpassword.$touched == true">
                                <p style="font-size: 14px; color: red" >Password did not match!</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address"
                               ng-model="registerForm.profile_email"
                               ng-minlength="5"
                               ng-maxlength="20"
                               required>
                        <!-- ngMessages goes here -->
                        <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched" style="color: #ff0000">
                            <p ng-message="required" style="font-size: 14px">This field is required</p>
                            <p ng-message="email" style="font-size: 14px">This needs to be a valid email</p>
                        </div>
                    </div>
                    <div style="width: 410px">
                        <div class="form-group">
                            <button type="submit" ng-click="register(registerForm)" ng-disabled="userForm.userName.$valid == false || userForm.firstName.$valid == false || userForm.lastName.$valid == false || userForm.email.$valid == false || registerForm.user_password != retypePassword || userForm.password.$valid == false" class="btn btn-success">Register</button>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
            <br/>

        </div>
    </div>

    </div>
</div>

</div>




